body {
    font-family: Arial; /* Sets the font family for the entire page */
    display: flex; /* Enables flexbox layout on the body */
    justify-content: flex-start;
    align-items: center; /* Centers the container vertically */
    height: 100vh; /* Sets the height of the body to 100% of the viewport height */
    background-color: #1c2229; /* Sets the background color of the body */
    margin: 0; /* Removes the default margin of the body */
    overflow: hidden; /* Prevents content from overflowing the viewport */

}


.left-panel, .right-panel, .middle-panel {
    flex: 1; /* Allows both panels to grow and fill the available space equally */
    padding: 20px; /* Adds padding inside the panels */
}

.middle-panel, .right-panel{
    background-image: url('backgroundR.png');
    background-size: cover; /* Adjust this value to fit your needs */
    background-repeat: no-repeat; /* Prevent the background from repeating */
    background-position: center; /* Center the background image */
}

.left-panel {
    text-align: center; /* Centers the text inside the left panel */
    display: flex; /* Enables flexbox layout on the left panel */
    flex-direction: column; /* Arranges children elements in a column */
    align-items: center; /* Centers children elements horizontally */
    height: 100vh;
    max-width: 500px;
    min-width: 300px;
    background-image: url('backgound.png');
    background-size: cover; /* Adjust this value to fit your needs */
    background-repeat: no-repeat; /* Prevent the background from repeating */
    background-position: center; /* Center the background image */
}

.cloud {
    margin: 20px 0; /* Adds vertical margin above and below the cloud container */
    text-align: center; /* Centers the content inside the cloud container */
}

.cloud img {
    width: 350px; /* Sets the width of the cloud image */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the cloud image */
    transition: transform 0.2s; /* Smooth transition for the scaling effect */
}

.cloud img:hover {
    transform: scale(1.1); /* Enlarge the cloud image by 1.1 times on hover */
}

button.upgrade-button {
    display: block; /* Makes the button a block-level element */
    margin: 10px 0; /* Adjust the margin to reduce the space between buttons */
    padding: 10px 20px; /* Adds padding inside the button */
    font-size: 18px; /* Sets the font size of the button text */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the button */
    width: 300px; /* Sets the width of the button */
    text-align: center; /* Centers the text inside the button */
    position: relative; /* Enables positioning of child elements */
}

button.upgrade-button .cost {
    display: block; /* Makes the cost span a block-level element */
    margin-top: 10px; /* Adds top margin to the cost span */
}

button.upgrade-button .info {
    display: none; /* Hides the info span by default */
    position: absolute; /* Positions the info span relative to the button */
    top: -20px; /* Aligns the top of the info span with the top of the button */
    right: 80%; /* Positions the info span to the right of the button */
    background-color: #fff; /* Sets the background color of the info span */
    color: #000; /* Sets the text color of the info span */
    padding: 7px; /* Adds padding inside the info span */
    border: 1px solid #000; /* Adds a border to the info span */
    z-index: 1; /* Ensures the info span appears above other elements */
    width: max-content; /* Ensures the info span takes up only as much width as needed */
    white-space: nowrap; /* Prevents the info span text from wrapping */
    flex-direction: column; /* Arranges the children of the info span in a column */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a shadow to the tooltip for better visibility */
    font-size: 16px; /* Sets the font size of the button text */
}

button.upgrade-button .info p {
    margin: 5px 0; /* Added margin to separate each piece of information */
}


.middle-panel{
    text-align: center; /* Centers the text inside the left panel */
    display: flex; /* Enables flexbox layout on the left panel */
    flex-direction: column; /* Arranges children elements in a column */
    align-items: center; /* Centers children elements horizontally */
    height: 100vh;
}

.right-panel {
    display: flex; /* Enables flexbox layout on the right panel */
    flex-direction: column; /* Arranges children elements in a column */
    align-items: center; /* Aligns children elements to the end of the cross axis (right) */
    padding: 20px; /* Adds padding inside the right panel */
    height: 100vh; /* Sets maximum height of the right panel */
    overflow-y: auto; /* Adds vertical scrollbar if content overflows */
    max-width: 20%;
    min-width: 20%;
    overflow-y: auto; /* Adds vertical scrollbar if content overflows */
}
.divider1, .divider2{
    height: 100vh;
    width: 15px;
}

.tooltip {
    display: none; /* Hidden by default */
    position: absolute; /* Position it absolutely */
    right: 0;
    background-color: #fff; /* Background color */
    color: #000; /* Text color */
    padding: 10px; /* Padding */
    border: 1px solid #000; /* Border */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for better visibility */
    z-index: 1000; /* Ensure it appears above other elements */
    width: max-content; /* Adjust the width to fit content */
    white-space: nowrap; /* Prevent text wrapping */
}